.basketWrapper {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 820px) {
  .basketWrapper {
    width: 200px;
  }
}

.basketTotal {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .basketTotal {
    flex-direction: column;
  }
  .buttonTop {
    margin: 10px auto 0 auto;
  }
}

.payButton {
  color: white;
  background-color: green;
  width: 100px;
  border: none;
}
